<!--  preloader start -->
<div id="tb-preloader">
  <div class="tb-preloader-wave"></div>
</div>
<!-- preloader end -->
<div class="wrapper">
  <!--header start-->
  <header id="header" class=" header-full-width ">
    <div class=" light-header">
      <div class="container">
        <div id="massive-menu" class="menuzord">
          <div class="logo-area text-center">
            <!--logo start-->
            <a href="index.html" class="logo-brand">
              <%= image_tag("logo-dark.png", class: "retina") %>
            </a>
            <!--logo end-->
          </div>
          <!--mega menu start-->
          <ul class="menuzord-menu pull-right ">
            <li><a href="#">Home</a>
              <ul class="dropdown">
                <li><a href="#">Home General</a>
                  <ul class="dropdown">
                    <li><a href="mp-index-general-1.html">General 1</a></li>
                    <li><a href="mp-index-general-2.html">General 2</a></li>
                    <li><a href="mp-index-general-3.html">General 3</a></li>
                    <li><a href="mp-index-general-4.html">General 4</a></li>
                  </ul>
                </li>
                <li><a href="#">Home Corporate</a>
                  <ul class="dropdown">
                    <li><a href="mp-index-corporate-1.html">Corporate 1</a></li>
                    <li><a href="mp-index-corporate-2.html">Corporate 2</a></li>
                    <li><a href="mp-index-corporate-3.html">Corporate 3</a></li>
                    <li><a href="mp-index-corporate-4.html">Corporate 4</a></li>
                  </ul>
                </li>
                <li><a href="#">Home Creative</a>
                  <ul class="dropdown">
                    <li><a href="mp-index-creative-1.html">Creative 1</a></li>
                    <li><a href="mp-index-creative-2.html">Creative 2</a></li>
                    <li><a href="mp-index-creative-3.html">Creative 3</a></li>
                    <li><a href="mp-index-creative-4.html">Creative 4</a></li>
                  </ul>
                </li>
                <li><a href="#"> Specialized Home </a>
                  <ul class="dropdown">
                    <li><a href="mp-index-agency.html">  Agency</a> </li>
                    <li><a href="mp-index-renovation.html">  Renovation</a> </li>
                    <li><a href="mp-index-restaurant.html">  Restaurant</a> </li>
                    <li><a href="mp-index-catering-service.html">  Catering </a> </li>
                    <li><a href="mp-index-hotel-resort.html">  Hotel</a> </li>
                    <li><a href="mp-index-event.html">  Event</a> </li>
                    <li><a href="mp-index-magazine-1.html">  Magazine</a> </li>
                    <li><a href="mp-index-fashion.html">  Fashion</a> </li>
                    <li><a href="mp-index-real-state.html">  Real Estate</a> </li>
                    <li><a href="mp-index-spa.html">  spa</a> </li>
                  </ul>
                </li>
                <li><a href="#">Home Portfolio</a>
                  <ul class="dropdown">
                    <li><a href="mp-index-portfolio-1.html">Portfolio 1</a></li>
                    <li><a href="mp-index-portfolio-2.html">Portfolio 2</a></li>
                    <li><a href="mp-index-portfolio-3.html">Portfolio 3</a></li>
                    <li><a href="mp-index-portfolio-4.html">Portfolio 4</a></li>
                  </ul>
                </li>
                <li><a href="#">Home Photography</a>
                  <ul class="dropdown">
                    <li><a href="mp-index-photography-1.html">Photography 1</a></li>
                    <li><a href="mp-index-photography-2.html">Photography 2</a></li>
                    <li><a href="mp-index-photography-3.html">Photography 3</a></li>
                  </ul>
                </li>

                <li><a href="#">Home Blog</a>
                  <ul class="dropdown">
                    <li><a href="mp-index-blog-1.html">Blog 1</a></li>
                    <li><a href="mp-index-blog-2.html">Blog 2</a></li>
                    <li><a href="mp-index-blog-3.html">Blog 3</a></li>
                    <li><a href="mp-index-blog-4.html">Blog 4</a></li>
                  </ul>
                </li>
                <li><a href="#">Home Side Nav</a>
                  <ul class="dropdown">
                    <li><a href="mp-index-leftnav-1.html">Side Nav 1</a></li>
                    <li><a href="mp-index-leftnav-2.html">Side Nav 2</a></li>
                  </ul>
                </li>
                <li><a href="#">Home Boxed</a>
                  <ul class="dropdown">
                    <li><a href="mp-index-boxed-view-1.html">Background Bg</a></li>
                    <li><a href="mp-index-boxed-view-2.html">Pattern Bg</a></li>
                  </ul>
                </li>
                <li><a href="#">One Page</a>
                  <ul class="dropdown">
                    <li><a href="op-index.html">Default</a></li>
                    <li><a href="op-index-revslider-fullscreen.html">Revolution Slider</a></li>
                    <li><a href="op-index-html5-video.html">HTML5 Video</a></li>
                    <li><a href="op-dotted-menu.html">Doted Nav</a></li>
                    <li><a href="op-index-sidebar.html">Sidebar Nav</a></li>
                    <li><a href="op-index-text-rotate.html">Rotate Text</a></li>
                    <li><a href="op-index-boxed.html">Boxed View</a></li>
                  </ul>
                </li>
                <li><a href="mp-index-app-landing.html">Home App Landing</a> </li>
                <li><a href="mp-index-parallax.html">Home Parallax</a> </li>
                <li><a href="mp-index-coming-soon.html">Home Coming Soon</a> </li>
              </ul>
            </li>

            <li class=""><a href="javascript:void(0)">Pages</a>
              <div class="megamenu">
                <div class="megamenu-row">
                  <div class="col3">
                    <ul class="list-unstyled">
                      <li><a href="about-us-1.html">About Us 1</a></li>
                      <li><a href="about-us-2.html">About Us 2</a></li>
                      <li><a href="about-me.html">About Me</a></li>
                      <li><a href="our-services-1.html">Services 1</a></li>
                      <li><a href="our-services-2.html">Services 2</a></li>
                      <li><a href="our-services-3.html">Services 3</a></li>
                      <li><a href="our-clients-1.html">Our Clients 1</a></li>

                    </ul>
                  </div>
                  <div class="col3">
                    <ul class="list-unstyled">
                      <li><a href="our-clients-2.html">Our Clients 2</a></li>
                      <li><a href="shortcode-career.html">Career</a></li>
                      <li><a href="faq-1.html">FAQ 1</a></li>
                      <li><a href="faq-2.html">FAQ 2</a></li>
                      <li><a href="maintenance.html">Maintenance</a></li>
                      <li><a href="pricing-table-1.html">Pricing Table 1</a></li>
                      <li><a href="pricing-table-2.html">Pricing Table 2</a></li>

                    </ul>
                  </div>
                  <div class="col3">
                    <ul class="list-unstyled">
                      <li><a href="our-team-1.html">Our Team 1</a></li>
                      <li><a href="our-team-2.html">Our Team 2</a></li>
                      <li><a href="contact-us-1.html">Contact 1</a></li>
                      <li><a href="contact-us-2.html">Contact 2</a></li>
                      <li><a href="contact-us-3.html">Contact 3</a></li>
                      <li><a href="404.html">Error 404</a></li>
                      <li><a href="404-alt.html">Error 404 Alt</a></li>
                    </ul>
                  </div>
                  <div class="col3">
                    <ul class="list-unstyled">
                      <li><a href="login-1.html">Login 1</a></li>
                      <li><a href="login-2.html">Login 2</a></li>
                      <li><a href="login-register-1.html">Login/Register 1</a></li>
                      <li><a href="login-register-2.html">Login/Register 2</a></li>
                      <li><a href="login-register-3.html">Login/Register 3</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </li>

            <li class="active"><a href="#">Features</a>
              <ul class="dropdown">
                <li><a href="#">Sliders</a>
                  <ul class="dropdown">
                    <li><a href="#">Slider Revolution</a>
                      <ul class="dropdown">
                        <li><a href="slider-revolution-fullscreen.html">Full Screen</a></li>
                        <li><a href="slider-revolution-fullwidth.html">Full Width</a></li>
                        <li><a href="slider-revolution-kenburns.html">Kenburns</a></li>
                        <li><a href="slider-revolution-video-bg.html">Video Banner</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Slider flex</a>
                      <ul class="dropdown">
                        <li><a href="slider-flex-fullwidth.html">Full Width</a></li>
                        <li><a href="slider-flex-boxed.html">Boxed</a></li>
                        <li><a href="slider-flex-boxed-thumb.html">Thumbnail Box</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Slider Owl</a>
                      <ul class="dropdown">
                        <li><a href="slider-owl-fullwidth.html">Full Width</a></li>
                        <li><a href="slider-owl-boxed.html">Boxed</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Parallax</a>
                      <ul class="dropdown">
                        <li><a href="static-parallax.html">Full Screen</a></li>
                        <li><a href="static-parallax-2.html">Full Screen 2</a></li>
                        <li><a href="static-parallax-short.html">Full Width</a></li>
                      </ul>
                    </li>
                    <li><a href="slider-bs.html">Slider BS</a> </li>
                    <li><a href="slider-elastic.html">Slider Elastic</a> </li>
                    <li><a href="slider-typist-blink.html">Slider Rotate Text 1</a> </li>
                    <li><a href="slider-typist-mark.html">Slider Rotate Text 2</a> </li>
                    <li><a href="static-html5-video.html">HTML5 Video</a> </li>
                  </ul>
                </li>
                <li><a href="#">Menu Style</a>
                  <ul class="dropdown">
                    <li><a href="menu-light.html"> Light</a></li>
                    <li><a href="menu-dark.html"> Dark</a></li>
                    <li><a href="menu-transparent.html"> Transparent</a></li>
                    <li><a href="menu-semi-transparent.html"> Semi Transparent</a></li>
                    <li><a href="#"> Align</a>
                      <ul class="dropdown">
                        <li><a href="menu-center.html">Menu Center 1</a></li>
                        <li><a href="menu-center-alt.html">Menu Center 2</a></li>
                        <li><a href="menu-block-left.html">Menu Block Left</a></li>
                        <li><a href="menu-left.html">Menu Left</a></li>
                      </ul>
                    </li>
                    <li><a href="#"> Left Side</a>
                      <ul class="dropdown">
                        <li><a href="left-side-nav-fixed.html">Side Menu  Light</a></li>
                        <li><a href="left-side-nav-fixed-dark.html">Side Menu  Dark</a></li>
                        <li><a href="left-side-nav-open-push.html">Side Menu Open Push</a></li>
                      </ul>
                    </li>
                    <li><a href="#"> Topbar</a>
                      <ul class="dropdown">
                        <li><a href="menu-top-bar.html">Menu Topbar 1</a></li>
                        <li><a href="menu-top-bar-alt.html">Menu Topbar 2</a></li>
                      </ul>
                    </li>
                    <li><a href="menu-bottom.html"> Bottom Position</a></li>
                    <li><a href="menu-floating.html"> Floating</a></li>
                    <li><a href="menu-push.html">Menu Push</a></li>
                    <li><a href="menu-dotted.html">Menu Dotted</a></li>
                    <li><a href="menu-box-link.html">Box Link</a></li>
                    <li><a href="menu-border-box-link.html">Border Box Link</a></li>
                    <li><a href="menu-border-bottom.html">Border Bottom</a></li>
                  </ul>
                </li>
                <li><a href="#">Page Title</a>
                  <ul class="dropdown">
                    <li><a href="page-title.html"> Default Title</a></li>
                    <li><a href="page-title-background.html"> Background Title</a></li>
                    <li><a href="page-title-bg-transparent-header.html"> Bg Transparent Title</a></li>
                    <li><a href="page-title-parallax-transparent-header.html"> Parallax Transparent</a></li>
                    <li><a href="page-title-nobg.html"> No Background</a></li>
                    <li><a href="page-title-pattern.html"> Pattern Title</a></li>
                    <li><a href="page-title-center.html"> Center Align</a></li>
                    <li><a href="page-title-right.html"> Right Align</a></li>
                    <li><a href="page-title-dark.html"> Dark Title</a></li>
                    <li><a href="page-title-mini.html"> Mini Title</a></li>
                  </ul>
                </li>
                <li><a href="#">Footer</a>
                  <ul class="dropdown">
                    <li><a href="footer1.html"> Footer Layout 1</a></li>
                    <li><a href="footer2.html"> Footer Layout 2</a></li>
                    <li><a href="footer3.html"> Footer Layout 3</a></li>
                    <li><a href="footer4.html"> Footer Layout 4</a></li>
                    <li><a href="footer5.html"> Footer Layout 5</a></li>
                    <li><a href="footer6.html"> Footer Layout 6</a></li>
                  </ul>
                </li>

                <li><a href="#">Gallery</a>
                  <ul class="dropdown">
                    <li><a href="gallery-3.html"> Default Gallery</a></li>
                    <li><a href="gallery-masonry.html"> Masonry Gallery 1</a></li>
                    <li><a href="gallery-masonry-2.html"> Masonry Gallery 2</a></li>
                  </ul>
                </li>

              </ul>
            </li>

            <li><a href="#">portfolio </a>
              <ul class="dropdown">
                <li><a href="#">Boxed</a>
                  <ul class="dropdown">
                    <li><a href="#"> Gutter</a>
                      <ul class="dropdown">
                        <li><a href="portfolio-2.html"> 2 Grid</a></li>
                        <li><a href="portfolio-3.html"> 3 Grid</a></li>
                        <li><a href="portfolio-4.html"> 4 Grid</a></li>
                        <li><a href="portfolio-5.html"> 5 Grid</a></li>
                        <li><a href="portfolio-6.html"> 6 Grid</a></li>
                      </ul>
                    </li>
                    <li><a href="#"> Gutter Less</a>
                      <ul class="dropdown">
                        <li><a href="portfolio-2-gutter-less.html"> 2 Grid</a></li>
                        <li><a href="portfolio-3-gutter-less.html"> 3 Grid</a></li>
                        <li><a href="portfolio-4-gutter-less.html"> 4 Grid</a></li>
                        <li><a href="portfolio-5-gutter-less.html"> 5 Grid</a></li>
                        <li><a href="portfolio-6-gutter-less.html"> 6 Grid</a></li>
                      </ul>
                    </li>
                    <li><a href="#"> Title - Gutter</a>
                      <ul class="dropdown">
                        <li><a href="portfolio-2-title.html"> 2 Grid</a></li>
                        <li><a href="portfolio-3-title.html"> 3 Grid</a></li>
                        <li><a href="portfolio-4-title.html"> 4 Grid</a></li>
                        <li><a href="portfolio-5-title.html"> 5 Grid</a></li>
                        <li><a href="portfolio-6-title.html"> 6 Grid</a></li>
                      </ul></li>
                      <li><a href="#"> Title - Gutter Less</a>
                        <ul class="dropdown">
                          <li><a href="portfolio-2-title-gutter-less.html"> 2 Grid</a></li>
                          <li><a href="portfolio-3-title-gutter-less.html"> 3 Grid</a></li>
                          <li><a href="portfolio-4-title-gutter-less.html"> 4 Grid</a></li>
                          <li><a href="portfolio-5-title-gutter-less.html"> 5 Grid</a></li>
                          <li><a href="portfolio-6-title-gutter-less.html"> 6 Grid</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Wide</a>
                    <ul class="dropdown">
                      <li><a href="#"> Gutter</a>
                        <ul class="dropdown">
                          <li><a href="portfolio-2-fullwidth.html"> 2 Grid</a></li>
                          <li><a href="portfolio-3-fullwidth.html"> 3 Grid</a></li>
                          <li><a href="portfolio-4-fullwidth.html"> 4 Grid</a></li>
                          <li><a href="portfolio-5-fullwidth.html"> 5 Grid</a></li>
                          <li><a href="portfolio-6-fullwidth.html"> 6 Grid</a></li>
                        </ul>
                      </li>
                      <li><a href="#"> Gutter Less</a>
                        <ul class="dropdown">
                          <li><a href="portfolio-2-fullwidth-gutter-less.html"> 2 Grid</a></li>
                          <li><a href="portfolio-3-fullwidth-gutter-less.html"> 3 Grid</a></li>
                          <li><a href="portfolio-4-fullwidth-gutter-less.html"> 4 Grid</a></li>
                          <li><a href="portfolio-5-fullwidth-gutter-less.html"> 5 Grid</a></li>
                          <li><a href="portfolio-6-fullwidth-gutter-less.html"> 6 Grid</a></li>
                        </ul>
                      </li>
                      <li><a href="#"> Title - Gutter</a>
                        <ul class="dropdown">
                          <li><a href="portfolio-2-title-fullwidth.html"> 2 Grid</a></li>
                          <li><a href="portfolio-3-title-fullwidth.html"> 3 Grid</a></li>
                          <li><a href="portfolio-4-title-fullwidth.html"> 4 Grid</a></li>
                          <li><a href="portfolio-5-title-fullwidth.html"> 5 Grid</a></li>
                          <li><a href="portfolio-6-title-fullwidth.html"> 6 Grid</a></li>
                        </ul></li>
                        <li><a href="#"> Title - Gutter Less</a>
                          <ul class="dropdown">
                            <li><a href="portfolio-2-title-fullwidth-gutter-less.html"> 2 Grid</a></li>
                            <li><a href="portfolio-3-title-fullwidth-gutter-less.html"> 3 Grid</a></li>
                            <li><a href="portfolio-4-title-fullwidth-gutter-less.html"> 4 Grid</a></li>
                            <li><a href="portfolio-5-title-fullwidth-gutter-less.html"> 5 Grid</a></li>
                            <li><a href="portfolio-6-title-fullwidth-gutter-less.html"> 6 Grid</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">Masonry - Boxed</a>
                      <ul class="dropdown">
                        <li><a href="#"> Gutter</a>
                          <ul class="dropdown">
                            <li><a href="portfolio-2-masonry.html"> 2 Grid</a></li>
                            <li><a href="portfolio-3-masonry.html"> 3 Grid</a></li>
                            <li><a href="portfolio-4-masonry.html"> 4 Grid</a></li>
                            <li><a href="portfolio-5-masonry.html"> 5 Grid</a></li>
                            <li><a href="portfolio-6-masonry.html"> 6 Grid</a></li>
                          </ul>
                        </li>
                        <li><a href="#"> Gutter Less</a>
                          <ul class="dropdown">
                            <li><a href="portfolio-2-masonry-gutter-less.html"> 2 Grid</a></li>
                            <li><a href="portfolio-3-masonry-gutter-less.html"> 3 Grid</a></li>
                            <li><a href="portfolio-4-masonry-gutter-less.html"> 4 Grid</a></li>
                            <li><a href="portfolio-5-masonry-gutter-less.html"> 5 Grid</a></li>
                            <li><a href="portfolio-6-masonry-gutter-less.html"> 6 Grid</a></li>
                          </ul>
                        </li>
                        <li><a href="#"> Title - Gutter</a>
                          <ul class="dropdown">
                            <li><a href="portfolio-2-masonry-title.html"> 2 Grid</a></li>
                            <li><a href="portfolio-3-masonry-title.html"> 3 Grid</a></li>
                            <li><a href="portfolio-4-masonry-title.html"> 4 Grid</a></li>
                            <li><a href="portfolio-5-masonry-title.html"> 5 Grid</a></li>
                            <li><a href="portfolio-6-masonry-title.html"> 6 Grid</a></li>
                          </ul></li>
                          <li><a href="#"> Title - Gutter Less</a>
                            <ul class="dropdown">
                              <li><a href="portfolio-2-masonry-title-gutter-less.html"> 2 Grid</a></li>
                              <li><a href="portfolio-3-masonry-title-gutter-less.html"> 3 Grid</a></li>
                              <li><a href="portfolio-4-masonry-title-gutter-less.html"> 4 Grid</a></li>
                              <li><a href="portfolio-5-masonry-title-gutter-less.html"> 5 Grid</a></li>
                              <li><a href="portfolio-6-masonry-title-gutter-less.html"> 6 Grid</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">Masonry - Wide</a>
                        <ul class="dropdown">
                          <li><a href="#"> Gutter</a>
                            <ul class="dropdown">
                              <li><a href="portfolio-2-masonry-fullwidth.html"> 2 Grid</a></li>
                              <li><a href="portfolio-3-masonry-fullwidth.html"> 3 Grid</a></li>
                              <li><a href="portfolio-4-masonry-fullwidth.html"> 4 Grid</a></li>
                              <li><a href="portfolio-5-masonry-fullwidth.html"> 5 Grid</a></li>
                              <li><a href="portfolio-6-masonry-fullwidth.html"> 6 Grid</a></li>
                            </ul>
                          </li>
                          <li><a href="#"> Gutter Less</a>
                            <ul class="dropdown">
                              <li><a href="portfolio-2-masonry-fullwidth-gutter-less.html"> 2 Grid</a></li>
                              <li><a href="portfolio-3-masonry-fullwidth-gutter-less.html"> 3 Grid</a></li>
                              <li><a href="portfolio-4-masonry-fullwidth-gutter-less.html"> 4 Grid</a></li>
                              <li><a href="portfolio-5-masonry-fullwidth-gutter-less.html"> 5 Grid</a></li>
                              <li><a href="portfolio-6-masonry-fullwidth-gutter-less.html"> 6 Grid</a></li>
                            </ul>
                          </li>
                          <li><a href="#"> Title - Gutter</a>
                            <ul class="dropdown">
                              <li><a href="portfolio-2-masonry-title-fullwidth.html"> 2 Grid</a></li>
                              <li><a href="portfolio-3-masonry-title-fullwidth.html"> 3 Grid</a></li>
                              <li><a href="portfolio-4-masonry-title-fullwidth.html"> 4 Grid</a></li>
                              <li><a href="portfolio-5-masonry-title-fullwidth.html"> 5 Grid</a></li>
                              <li><a href="portfolio-6-masonry-title-fullwidth.html"> 6 Grid</a></li>
                            </ul></li>
                            <li><a href="#"> Title - Gutter Less</a>
                              <ul class="dropdown">
                                <li><a href="portfolio-2-masonry-title-fullwidth-gutter-less.html"> 2 Grid</a></li>
                                <li><a href="portfolio-3-masonry-title-fullwidth-gutter-less.html"> 3 Grid</a></li>
                                <li><a href="portfolio-4-masonry-title-fullwidth-gutter-less.html"> 4 Grid</a></li>
                                <li><a href="portfolio-5-masonry-title-fullwidth-gutter-less.html"> 5 Grid</a></li>
                                <li><a href="portfolio-6-masonry-title-fullwidth-gutter-less.html"> 6 Grid</a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        <li><a href="portfolio-details-advanced.html">Portfolio - Advanced</a> </li>
                        <li><a href="portfolio-single.html">Portfolio - Details 1</a> </li>
                        <li><a href="portfolio-single-alt.html">Portfolio - Details 2</a> </li>
                        <li><a href="portfolio-single-gallery.html">Portfolio Details - Gallery</a> </li>
                        <li><a href="portfolio-single-video.html">Portfolio - HTML5 Video</a> </li>
                      </ul>
                    </li>
                    <li><a href="#">Blog</a>
                      <ul class="dropdown">
                        <li><a href="#">Classic</a>
                          <ul class="dropdown ">
                            <li><a href="blog-sidebar-left.html">Sidebar Left</a></li>
                            <li><a href="blog-sidebar-right.html">Sidebar Right</a></li>
                            <li><a href="blog-fullwidth.html">Fullwidth</a></li>
                            <li><a href="blog-list.html">Blog List</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Grid</a>
                          <ul class="dropdown ">
                            <li><a href="blog-grid-2.html">Grid 2</a></li>
                            <li><a href="blog-grid-3.html">Grid 3</a></li>
                            <li><a href="blog-grid-4.html">Grid 4</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Masonry</a>
                          <ul class="dropdown ">
                            <li><a href="blog-2-masonry.html">Masonry 2</a></li>
                            <li><a href="blog-3-masonry.html">Masonry 3</a></li>
                            <li><a href="blog-4-masonry.html">Masonry 4</a></li>
                            <li><a href="blog-masonry-fullwidth.html">Masonry Fullwidth</a></li>
                          </ul>
                        </li>

                        <li><a href="#">Blog Details</a>
                          <ul class="dropdown ">
                            <li><a href="blog-single-sidebar-left.html">Sidebar Left</a></li>
                            <li><a href="blog-single.html">Sidebar Right</a></li>
                            <li><a href="blog-single-fullwidth.html">Fullwidth</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li  class=""><a href="javascript:void(0)">Shortcodes</a>
                      <div class="megamenu">
                        <div class="megamenu-row">
                          <div class="col3">
                            <ul class="list-unstyled">
                              <li><a href="shortcode-alert.html">Alert</a></li>
                              <li><a href="shortcode-buttons.html">Buttons</a></li>
                              <li><a href="shortcode-career.html">Career</a></li>
                              <li><a href="shortcode-carousel.html">Carousel</a></li>
                              <li><a href="shortcode-clients.html">Clients</a></li>
                              <li><a href="shortcode-countdown.html">Countdown</a></li>
                            </ul>
                          </div>
                          <div class="col3">
                            <ul class="list-unstyled">
                              <li><a href="shortcode-divider.html">Divider</a></li>
                              <li><a href="shortcode-featured-box.html">Featured Box</a></li>
                              <li><a href="shortcode-fun-factors.html">Fun Factors</a></li>
                              <li><a href="shortcode-heading-style.html">Heading Style</a></li>
                              <li><a href="shortcode-icon-list.html">Icon List</a></li>
                              <li><a href="shortcode-post.html">Post</a></li>

                            </ul>
                          </div>
                          <div class="col3">
                            <ul class="list-unstyled">
                              <li><a href="shortcode-pricing-table.html">Pricing Table </a></li>
                              <li><a href="shortcode-progress-bar.html">Progress Bar </a></li>
                              <li><a href="shortcode-promo-box.html">Promo box </a></li>
                              <li><a href="shortcode-subscribe.html">Subscribe</a></li>
                              <li><a href="shortcode-tabs.html">Tabs</a></li>
                              <li><a href="shortcode-tables.html">Tables</a></li>
                            </ul>
                          </div>
                          <div class="col3">
                            <ul class="list-unstyled">
                              <li><a href="shortcode-team.html">Team</a></li>
                              <li><a href="shortcode-testimonial.html">Testimonials </a></li>
                              <li><a href="shortcode-timeline.html">Timeline </a></li>
                              <li><a href="shortcode-toggle-accordion.html">Toggle Accordion </a></li>
                            </ul>
                          </div>

                        </div>
                      </div>
                    </li>

                    <li><a href="#">shop</a>
                      <ul class="dropdown">
                        <li><a href="shop-2.html">Grid 2</a></li>
                        <li><a href="shop-3.html">Grid 3</a></li>
                        <li><a href="shop-4.html">Grid 4</a></li>
                        <li><a href="shop-single.html">Product Details</a></li>
                        <li><a href="shop-cart.html">Shopping Cart</a></li>
                      </ul>
                    </li>


                  </ul>
                  <!--mega menu end-->



                </div>
              </div>
            </div>

            <div class="side-social-link clearfix visible-md visible-lg">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>

              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>

              <a href="#">
                <i class="fa fa-google-plus"></i>
              </a>

              <a href="#">
                <i class="fa fa-pinterest"></i>
              </a>

              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </header>
          <!--header end-->

          <!--hero section-->
          <div class="banner-state text-center vertical-align">
            <!-- registraion -->
            <div class="login-details pull-right">
              <% if user_signed_in? %>
                <%= link_to('Admin Dashbord', rails_admin_path) if current_user.superadmin_role?%>
                <%= link_to('Edit registration', edit_user_registration_path) %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   
              <% else %>
                <%= link_to('Register', new_user_registration_path)  %>
                <%= link_to('Login', new_user_session_path)  %>  
              <% end %>
            </div>
            <div class="container-mid">
              <div class="container">
                <div class="banner-box light-box">
                  <h1 class="text-uppercase">GAME WAY</h1>
                  <h3 class="text-uppercase">THE ULTIMATE SOLUTION</h3>
                </div>
              </div>
            </div>
          </div>
          <!--hero section-->


          <!--body content start-->
          <section class="body-content">
            <div class="page-content">
              <div class="container">
                <!--feature box center align start-->
                <div class="row">
                  <div class="heading-title text-center">
                    <h3 class="text-uppercase">Game way</h3>
                    <span class="text-uppercase">the ultimate solution</span>
                  </div>
                  <div class="col-md-4">
                    <div class="featured-item text-center m-bot-80">
                      <div class="icon ">
                        <i class="icon-lightbulb"></i>
                      </div>
                      <div class="title text-uppercase">
                        <h4>Creative design</h4>
                      </div>
                      <div class="desc">
                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="featured-item text-center m-bot-80">
                      <div class="icon ">
                        <i class=" icon-browser2"></i>
                      </div>
                      <div class="title text-uppercase">
                        <h4>Awesome Mega Menu</h4>
                      </div>
                      <div class="desc">
                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="featured-item text-center m-bot-80">
                      <div class="icon ">
                        <i class=" icon-laptop2"></i>
                      </div>
                      <div class="title text-uppercase">
                        <h4>PARALLAX SUPPORT</h4>
                      </div>
                      <div class="desc">
                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="featured-item text-center">
                      <div class="icon">
                        <i class="icon-music_play_button"></i>
                      </div>
                      <div class="title text-uppercase">
                        <h4>HTML5 VIDEO</h4>
                      </div>
                      <div class="desc">
                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="featured-item text-center">
                      <div class="icon">
                        <i class="icon-arrows_move"></i>
                      </div>
                      <div class="title text-uppercase">
                        <h4>RESPONSIVE LAYOUT</h4>
                      </div>
                      <div class="desc">
                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="featured-item text-center">
                      <div class="icon">
                        <i class="icon-ecommerce_graph3"></i>
                      </div>
                      <div class="title text-uppercase">
                        <h4>ENDLESS POSSIBILITIES</h4>
                      </div>
                      <div class="desc">
                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                      </div>
                    </div>
                  </div>
                </div>
                <!--feature box center align end-->
              </div>
            </div>
            <div class="full-width promo-box gray-bg">
              <div class="container">
                <div class="col-md-12">
                  <div class="promo-info">
                    <h4>new <span class="theme-color">offer</span> for this <span class="theme-color">summer</span></h4>
                    <span>Nullam ut consectetur dolor. Sed sit amet iaculis nisi. Mauris ridiculus elementum non felis etewe blandit. </span>
                  </div>
                  <div class="promo-btn">
                    <a href="#" class="btn btn-medium btn-rounded btn-dark-solid  text-uppercase">purchase now</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--body content end-->

          <!--footer start 1-->
          <footer id="footer" class="dark">
            <div class="primary-footer">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <a href="#" class="m-bot-20 footer-logo">
                      <%= image_tag("logo-dark.png", class: "retina") %>
                    </a>
                    <p>Massive is  fully responsible, performance oriented and SEO optimized, retina ready WordPress theme.</p>

                  </div>
                  <div class="col-md-3">
                    <h5 class="text-uppercase">recent posts</h5>
                    <ul class="f-list">
                      <li><a href="#">Standard Blog post</a></li>
                      <li><a href="#">Quotation post</a></li>
                      <li><a href="#">Audio Post</a></li>
                      <li><a href="#">Massive Video Demo</a></li>
                      <li><a href="#">Blog Image Post</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <h5 class="text-uppercase">quick link</h5>
                    <ul class="f-list">
                      <li><a href="#">About Massive</a></li>
                      <li><a href="#">Career</a></li>
                      <li><a href="#">Terms & Condition</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                    <h5 class="text-uppercase">Recent Work</h5>
                    <ul class="r-work">
                      <li>
                        <a href="#"> <%= image_tag("recent-work/1.jpg", class: "retina") %></a>
                      </li>
                      <li>
                        <a href="#"> <%= image_tag("recent-work/2.jpg", class: "retina") %></a>
                      </li>
                      <li>
                        <a href="#"> <%= image_tag("recent-work/3.jpg", class: "retina") %></a>
                      </li>
                      <li>
                        <a href="#"> <%= image_tag("recent-work/4.jpg", class: "retina") %></a>
                      </li>
                      <li>
                        <a href="#"> <%= image_tag("recent-work/5.jpg", class: "retina") %></a>
                      </li>
                      <li>
                        <a href="#"> <%= image_tag("recent-work/6.jpg", class: "retina") %></a>
                      </li>
                      <li>
                        <a href="#"> <%= image_tag("recent-work/7.jpg", class: "retina") %></a>
                      </li>
                      <li>
                        <a href="#"> <%= image_tag("recent-work/8.jpg", class: "retina") %></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="secondary-footer">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <span class="m-top-10">Copyright 2012 - 2015 Massive Theme by <a href="http://themebucket.net/" class="f-link" target="_blank">ThemeBucket</a> | All Rights Reserved</span>
                  </div>
                  <div class="col-md-6">
                    <div class="social-link circle pull-right">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-dribbble"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <!--footer 1 end-->
        </div>
