/*$gray-medium-light: #eaeaea;*/
/*@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
*/
/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  /*@include box_sizing;*/
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
} 
.login-details{
  padding-right: 18px;
  margin-top: 10px;
}
.login-details a{
  color: #fff;
  padding: 2px 2px 2px 2px;
}
.login-details a:hover{
  border: 1px solid #fff;
}