<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Mosaddek">
  <link rel="icon" type="image/png" href="favicon.png">
  <title>Massive - left nav fixed dark</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href='http://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200' rel='stylesheet' type='text/css'>
</head>
<body class="left-nav-fixed dark-side-nav">
  <%= yield %>
  <div class="pull-right"><%= debug(params) if Rails.env.development? %></div>
  <% unless flash.empty? %>
    <script type="text/javascript">
      <% flash.each do |f| %>
      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
      toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
    </script>
  <% end %>
</body>
</html>
<script type="text/javascript">
  $(document).ready(function () {
    var bodyclass = $("body").attr("class");
    $.BreakPoint({
      breakpoints: {
        tablet: {
          max: 768,
          callback: function () {
            $("body").removeClass(bodyclass);
          }
        },
        desktop: {
          min: 769,
          callback: function () {
            $("body").addClass(bodyclass);
          }
        }
      }
    });
  });
</script>
